@import "../vars";

.page-header {
  background: url("../img/bg-back-desktop@1x.jpg") center top;
  width: 100%;
  position: relative;
}

.page-header:after {
  content: '';
  position: absolute;
  display: block;
  width:  723px;
  height: 645px;
  bottom: 0;
  left: 50%;
  background: url("../img/iphone-hand-desktop@1x.png") no-repeat right;
}

.page-header__wrapper {
  background-color: $menu-bg;
  width: 100%;
  margin-bottom: 103px;
}

.page-header__nav{
  @include flex;
}

.page-header__content {
  width: 370px;
}

.page-header__title {
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 51px;
  padding-left: 33px;
  width: 230px;
}

.page-header__download-button {
  display: inline-block;
  vertical-align: top;
  padding: 11px 0;
  margin-bottom: 66px;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  width: 295px;
  color: white;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: all .3s;
  &:hover {
    background-color: #fff;
    color: #d22856;
  }
  &:active {
    color: $fill-active;
  }
}

.page-header__text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  width: 300px;
  padding-bottom: 122px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .page-header {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat center 0;
  }
  .page-header:after {
    width: 515px;
    height: 545px;
    left: 40%;
    bottom: 0;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat center right;
  }
  .page-header__wrapper{
    margin-bottom: 75px;
  }
  .page-header__nav {
    z-index: 999;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba($bg-color,.3);
  }
  .page-header__content {
    padding-left: 20px;
    padding-top: 111px;
  }
  .page-header__title {
    padding-left: 60px;
  }
  .page-header__download-button {
    padding: 11px 25px;
  }
  .page-header__text {
    padding-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .page-header {
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat center 0;
  }
  .page-header__wrapper {
    margin-bottom: 0;
  }
  .page-header::after {
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    bottom: 264px;
  }
  .page-header__title {
    display: none;
  }
  .page-header__content {
    padding: 400px 20px 0;
    margin: 0 auto;
  }
  .page-header__downloads {
    max-width: 280px;
    margin: 0;
  }
  .page-header__download-button {
    width: 270px;
    padding: 10px 0;
    margin-bottom: 30px;
    margin-top: 90px;
  }
  .page-header__text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: 260px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .page-header__content {
    width: 280px;
  }
}
