.page-footer {
  background-color: #fff;
  position: relative;
  padding-bottom: 75px;
}

.page-footer__title {
  margin: 0;
  padding-top: 76px;
  padding-bottom: 76px;
  font-size: 50px;
  color: #283645;
  font-weight: lighter;
  text-align: center;
}

.page-footer__bg {
  position: absolute;
  transform: rotate(180deg);
  z-index: 999;
}

.page-footer__map {
  padding-bottom: 75px;
}

@media (max-width: 767px) {
  .page-footer__map {
    padding-bottom: 0;
  }
  .page-footer {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .page-footer__title {
    font-size: 24px;
    padding-bottom: 0;
  }
}
