.research {
  background-color: $background-grey;
  padding-bottom: 67px;
}

.research__wrapper {
  @include flex;
  align-items: center;
}

.research__wrapper-column {
  display: flex;
  flex-direction: column;
}

.research__titile {
  font-size: 30px;
  line-height: 30px;
}

.research__text {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 14px;
}

.research__link {
  color: #d22856;
  font-size: 18px;
  line-height: 30px;
}
.research__wrapper-column--left {
  width: 40%;
}
.research__wrapper-column--right {
  width: 60%;
}
.research__titile {
  margin-top: 50px;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .research {
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 55px;
  }

  .research__wrapper-column--left {
    width: 50%;
    align-items: center;
  }
  .research__wrapper-column--right {
    width: 50%;
  }

  .research__wrapper {
    justify-content: center;
    margin: 0 auto;
    width: 93%;
  }
}

@media (max-width: 767px) {
  .research {
    display: none;
  }
}
