.reviews {
  text-align: center;
  background-color: #fff;
}

.reviews__text {
  padding-top: 44px;
  width: 790px;
  margin: 0 auto;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;

  color: #283645;
}

.reviews__text::before {
  content: '«';
}

.reviews__text::after {
  content: '»';
}

.reviews__author {
  font-size: 24px;
  line-height: 30px;
  font-family: 'Open Sans', Arial,sans-serif;
  color: #000000;
  margin-top: 36px ;
  margin-bottom: 0;
  order: -1;
}

.reviews__author-info {
  display: none;
}

.reviews__quotes-icon {
  padding-top: 74px;
}

@media (min-width: 660px) and (max-width: 1199px) {
  .reviews__text {
    width: 620px;
  }
}

@media (min-width: 660px) {
  .reviews__author {
    order: 0;
  }
  .reviews__author-info {
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    margin-top: 2px;
  }
}

@media (max-width: 1199px) {
  .reviews__quotes-icon {
    display: none;
  }
  .reviews__author-info--job {
    padding-bottom: 30px;
  }
}

@media (max-width: 659px) {
  .reviews__text {
    width: 280px;
    padding-top: 20px;
  }
}


