@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("../fonts/OpenSans.woff2") format("woff2"),
  url("../fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/OpenSanslight.woff2") format("woff2"),
  url("../fonts/OpenSanslight.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/OpenSansbold.woff2") format("woff2"),
  url("../fonts/OpenSansbold.woff") format("woff");
}
