@import "fonts";
@import "vars";
@import "mixins";
@import "blocks/container";
@import "blocks/downloads";
@import "blocks/nav";
@import "blocks/page-header";
@import "blocks/page-main";
@import "blocks/research";
@import "blocks/reviews";
@import "blocks/slider";
@import "blocks/price";
@import "blocks/page-footer";
@import "blocks/contacts";
@import "blocks/social";

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: $bg-color;
  font-family: 'Open Sans',Arial,sans-serif;
}
