@import "fonts";
@import "blocks/pageheader";
@import "blocks/navigation.scss";
@import "blocks/downloads.scss";
@import "blocks/page-main.scss";
@import "blocks/research.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/price.scss";
@import "blocks/table.scss";
@import "blocks/social.scss";
@import "blocks/footer.scss";
@import "blocks/form.scss";
@import "blocks/photos.scss";
@import "blocks/editor.scss";

$tablet-width: 660px;
$desktop-width: 1200px;

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Open Sans', Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  min-width: 320px;
}

@media (min-width: $desktop-width) {
  .container {

  }
}

img {
  max-width: 100%;
}
