$bg-color: #1b242d;
$menu-bg: rgba(#000, .3);
$fill-hover: #d22856;
$fill-active: #f1becc;
$slider-bullet: rgba(#7e868f, .3);
$slider-bullet--hover: #7e868f;
$slider-bullet--active: rgba(#7e868f, .1);
$border-round: #283645;
$background-grey: #f2f2f2;
